<!DOCTYPE html>
<html>
<head>
	<title>Hashing</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- 
	<link rel="stylesheet" type="text/css" href="/css/w3.css">
 --></head>
<style type="text/css">
	.bgimg {
    background-image: url('/img/background.jpg');
    max-height: 102%;
    min-height: 102%;
    background-position: center;
    background-size: cover;
    margin-top: -1%;
    }

    .container-1 {
    	background-color: white;
    	margin-left: 20%;
    	margin-right: 20%;
      }

    .heading{
    	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    }
body, html {height: 100%}
</style>
<body>
  <div class="bgimg w3-animate-opacity w3-text-black">
  {{{body}}}     
  </div>
</body>
</html>